body{
  float: left;
  position: relative;
  left: 50%;
}
.main-container{
  float: right;
position: relative;
left: -50%;
}
.completed{
  text-decoration: line-through;
}
/* .delete-button{
  float:left;
}*/
.toggle-button{
  margin-left: 15px;
}
.hide{
  display:none;
}
.edit-input{
  display:block;
}
#todo-list{
  border:4px solid;
}
/* p{
float:left} */
