body{
  float: left;
  position: relative;
  left: 50%;
}
.main-container{
  float: right;
position: relative;
left: -50%;
}
.completed{
  text-decoration: line-through;
}
.toggle-button{
  margin-left: 15px;
}
.add-sub-todo{
  margin-left: 15px;
}
.hide{
  display:none;
}
.edit-input{
  display:block;
}
#todo-list{
  border:4px solid;
}
#buttons{
  text-align: center;
}
